@keyframes fade-transition{
    0% {opacity: 0;}
    100% {opacity: .75;}
}

#backgroundVideo{
    filter: brightness(30%) blur(0px);

    animation-duration: 3s;
    animation-name: fade-transition;
    animation-fill-mode: forwards;
}